body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./img/Background-vankaai.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* For WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 2px !important; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 0, 0, 0.421) !important; /* Color of the scrollbar thumb */
  border-radius: 50px !important; /* Optional: adds rounded corners */
}

::-webkit-scrollbar-track {
  background: none !important; /* Removes the background */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Makes the scrollbar thin */
  scrollbar-color: rgba(184, 4, 4, 0.526) transparent;
}
